{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html class="h-100" lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'account/css/custom.css' %}" rel="stylesheet" />

    <title>point_card</title>

    <header style="height: 100px;" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="container-fluid">
            <div class="row">
                <h1 class="navbar-brand col-md-3 col-lg-2 me-0 py-3">point card</h1>
            </div>
        </div>
    </header>
</head>





<body class="h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            {% if user.is_shop %}
            <nav class="col-2 navbar navbar-dark bg-light fixed-left">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class='nav-link text-primary' href="{% url 'shop_top' %}">トップ</a>
                    </li>
                    <li class="nav-item"><a class='nav-link text-primary' href=" {% url 'accounts:qrcode' %}">QRコード</a>
                    </li>
                    <li class="nav-item"><a class='nav-link text-primary' href="{% url 'accounts:mypage' %}">マイページ</a>
                    </li>
                    <li class="nav-item"><a class='nav-link text-primary'
                            href="{% url 'accounts:customize_point_card' %}">カード編集</a>
                    </li>
                </ul>
            </nav>
            {% endif %}

            <main class="col-md-10 col-sm-12 mx-auto px-md-4">
                {% if user.is_authenticated %}
                <div class="text-center">
                    <div class="card-signin my-5">
                        <div class="card-body">

                            {% block body %}{% endblock %}

                        </div>
                    </div>
                </div>
                {% else %}
                <a class="btn btn-outline-primary mr-2" href="{% url 'login' %}">ログイン</a>
                <a class="btn btn-outline-primary " href="{% url 'accounts:signup' %}">入会</a>
                {% block login %}
                {% endblock%}
                {% endif %}

            </main>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


</body>
{% if user.is_customer %}
<footer class="bg-dark text-white text-center fixed-bottom no-gutters" style="height: 75px;">
    <div class="container-fluid">
        <div class='row'>
            <a class='col text-center' style="line-height: 75px;" href="{% url 'accounts:point_card_list' %}"">トップ</a>
                <a class='col text-center' style=" line-height: 75px;" href=" {% url 'accounts:qrcode' %}">QRコード</a>
            <a class='col text-center' style="line-height: 75px;" href="{% url 'accounts:mypage' %}">マイページ</a>
        </div>
    </div>
</footer>
{% endif %}

</html>